@import "tailwindcss";

@font-face {
  font-family: "Oswald";
  src: url("/fonts/Oswald-VariableFont_wght.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

:root {
  --color-darkest: #212a31;
  --color-dark: #2e3944;
  --color-primary: #124e66;
  --color-secondary: #748d92;
  --color-light: #d3d9d4;
  --color-white: #ffffff;
  /* Accent */
  --color-accent: #ff6f61;
  --color-accent-light: #ff9f8c;
  --color-accent-dark: #c44b3f;
  --color-accent-darker: #a43c33;
  --color-accent-lightest: #ffe6e0;
  --color-accent-lighter: #ffb3ab;
  --color-accent-darkest: #8c2d28;
  /* Orange */
  --color-accent-secondary: #ff8c61;
  --color-accent-secondary-light: #ffb38c;
  --color-accent-secondary-dark: #c47b4b; 
  --color-accent-secondary-darker: #a46c3c;
  --color-accent-secondary-lightest: #ffe0d9;
  --color-accent-secondary-lighter: #ffb3a3;
  --color-accent-secondary-darkest: #8c4b2d;
  /* Green */
  --color-accent-tertiary: #61ff8c;
  --color-accent-tertiary-light: #8cffb3;
  --color-accent-tertiary-dark: #4bc47b;
  --color-accent-tertiary-darker: #3ca46c;
  --color-accent-tertiary-lightest: #d9ffe0;
  --color-accent-tertiary-lighter: #a3ffb3;
  --color-accent-tertiary-darkest: #2d8c4b;
  /* Purple */
  --color-accent-quaternary: #8c61ff;
  --color-accent-quaternary-light: #b38cff;
  --color-accent-quaternary-dark: #7b4bc4;
  --color-accent-quaternary-darker: #6c3ca4;  
  --color-accent-quaternary-lightest: #e0d9ff;
  --color-accent-quaternary-lighter: #a3b3ff; 
  --color-accent-quaternary-darkest: #4b2d8c;
}

@media (max-width: 640px) {
  p,
  ul,
  li {
    font-family: "Montserrat", sans-serif;
    line-height: 150%;
    font-size: large;
  }
}
@media (max-width: 768px) {
  p,
  ul,
  li {
    font-family: "Montserrat", sans-serif;
    line-height: 150%;
    font-size: large;
  }
}
@media (min-width: 1280px) {
  p,
  ul,
  li {
    font-family: "Montserrat", sans-serif;
    line-height: 150%;
    font-size: medium;
  }
}

h1 {
  font-family: "Oswald", sans-serif;
  font-weight: bold;
  color: var(--color-white);
}

h2 {
  font-family: "Oswald", sans-serif;
  font-weight: normal;
  color: var(--color-dark);
}

h3 {
  font-family: "Oswald", sans-serif;
  font-weight: lighter;
  color: var(--color-secondary);
}

.navbar {
  position: fixed;
  width: 100%;
  z-index: 50;
  transition: transform 0.3s ease-in-out;
  pointer-events: auto;
  display: flex;
  justify-content: center;
}

.navbar-top {
  top: 0;
  bottom: auto;
}

.navbar-bottom {
  top: auto;
  bottom: 0;
}

.navbar-hidden {
  transform: translateY(-100%);
  pointer-events: none;
}

.navbar-hidden-bottom {
  transform: translateY(150%);
  pointer-events: none;
}

.nav-content {
  max-width: 896px;
  width: 100%;
  height: 3.5rem;
  border-radius: 9999px;
  margin: 0.75rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}
