@import "tailwindcss";

@font-face {
  font-family: 'Oswald';
  src: url('/fonts/Oswald-VariableFont_wght.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

:root {
  --color-darkest: #212A31;   /* Muy oscuro, ideal para fondo base */
  --color-dark: #2E3944;       /* Oscuro intermedio, para encabezados o fondos */
  --color-primary: #124E66;    /* Azul petróleo, perfecto como color principal */
  --color-secondary: #748D92;  /* Gris azulado suave, ideal para textos secundarios */
  --color-light: #D3D9D4;      /* Color claro, para fondos o detalles */
}


p, ul, li {
  font-family: 'Montserrat', sans-serif;
  line-height: 150%;
}

h1 {
  font-family: 'Oswald', sans-serif;
  font-weight: bold;
  color: var(--color-darkest)
}

h2 {
  font-family: 'Oswald', sans-serif;
  font-weight: bold;
  color: var(--color-primary)
}

h3 {
  font-family: 'Oswald', sans-serif;
  font-weight: lighter;
  color: var(--color-secondary)
}

.navbar {
  position: fixed;
  width: 100%;
  z-index: 50;
  transition: transform 0.3s ease-in-out;
  pointer-events: auto;
}

.navbar-top {
  top: 0;
  bottom: auto;
}

.navbar-bottom {
  top: auto;
  bottom: 0;
}

.navbar-hidden {
  transform: translateY(-100%);
  pointer-events: none;
}

.navbar-hidden-bottom {
  transform: translateY(100%);
  pointer-events: none;
}

.nav-content {
  max-width: 1024px;
  margin: 0 auto;
  height: 3.5rem;
  background: var(--color-darkest);
  border-radius: 9999px;
  margin: 0.75rem;
  padding: 0 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
}