---
import Layout from "../layouts/Layout.astro";
import image_darthgart from "../assets/image_darthgart.jpg";
import Aside from "../components/Aside.astro";
import Content from "../components/Content.astro";
import { Image } from "astro:assets";

const year = new Date().getFullYear();
---

<Layout>
  <main class="w-full mx-auto min-w-0 max-w-full">
    <section class="w-full mx-auto max-w-7xl">
      <header class="mrelative z-10 grid md:grid-cols-12 bg-indigo-100 rounded-t-sm">
        <section class="top-0 md:relative flex md:justify-end md:col-span-4 overflow-hidden bg-cover">
          <Image src={image_darthgart} alt="Edgar Sanchez" class="mx-auto" />
        </section>
        <section class="sticky top-0 md:col-span-8 bg-[var(--color-secondary)]">
          <div class="w-full h-full flex items-center justify-between p-10 sm:p-8">
            <div class="flex-1">
              <h1 class="text-4xl sm:text-5xl leading-[120%] tracking-[2px] uppercase">Edgar <br /> Sanchez Gimenez</h1>
              <h2 class="text-3xl mt-2 sm:text-4xl leading-[120%] font-mono tracking-[3px]">Full Stack Developer</h2>
            </div>
          </div>
        </section>
      </header>
      <article class="grid grid-cols-1 md:grid-cols-12">
        <Aside />
        <Content />
      </article>
    </section>
  </main>
  <footer>
    <div class="w-full mx-auto max-w-7xl p-5 text-center sm:text-left bg-[var(--color-dark)] text-white">
      <p class="text-xs text-white">© {year} EDGAR SANCHEZ GIMENEZ</p>
    </div>
  </footer>
</Layout>
